body{
    background-color: lightblue;
    position:absolute;
    top: 150px;
    left: 500px;
}
#emp{
    background-color:lightseagreen;
    position: absolute;
    width:400px;
    height:200px;
    border-radius:20px;
}
#emp form {
    margin-left: 50px; 
    margin-top: 40px;
}
h3{
    position:absolute;
    top: -190px;
    left: 30px;
    font-size: 60px;
    font-family:'Snell Roundhand', cursive;
}